 :root {
     --azul-corporativo: #1a3a6d;
     --azul-lineas: #2c5ca0;
     --ancho-carnet: 4.9cm;
     --alto-carnet: 7.7cm;
 }

 body {
     background-color: white;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     margin: 0;
     font-family: 'Helvetica', Arial, sans-serif;
     flex-direction: column;
     gap: 15px;
 }

 /* Contenedor del Carnet */
 .carnet {

     width: 350px;
     height: 530px;
     background-color: white;
     border-radius: 15px;
     box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
     position: relative;
     overflow: hidden;
     display: flex;
     flex-direction: column;
     border: 1px solid #ddd;
 }

 /* Fondo con el patrón de iconos */
 .fondo-patron {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 98%;
     background-image: url('imagenes/fondo2.jpg');
     background-size: cover;
     background-position: center;

     z-index: 1;
 }

 /* Encabezado con Logo */
 .header {
     position: relative;
     z-index: 2;
     text-align: center;
     padding: 25px 0 10px 0;
 }


 /* Cuadro de la Foto */
 .foto-box {
     position: relative;
     z-index: 2;
     top: 130px;
     margin: auto;
     width: 130px;
     height: 155px;
     background-color: #f8f9fa;
     border: 4px solid var(--azul-lineas);
     display: flex;
     justify-content: center;
     align-items: center;
     box-sizing: border-box;
     overflow: hidden;
 }

 .foto-box img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }

 /* Sección de Datos */
 .datos-empleado {
     top: 40px;
     margin-top: 80px;
     position: relative;
     z-index: 2;
     padding: 15px 30px;
     flex-grow: 1;

 }

 .campo {
     margin-bottom: 12px;
     display: flex;
     flex-direction: column;
 }

 .campo2 {
     margin-bottom: 12px;
     text-align: center;
 }

 .valor {
     text-align: center;
     font-size: 18px;
     color: #333;
     font-weight: 600;
     padding: 2px 0;
     min-height: 18px;
 }

 /* Fila de fechas */
 .fechas-row {
     display: flex;
     gap: 20px;
 }

 .fechas-row .campo {
     flex: 1;
 }

 /* Franja Inferior */
 .footerr {
     position: relative;
     z-index: 2;
     background-color: var(--azul-corporativo);
     color: white;
     text-align: center;
     padding: 12px 0;
     font-size: 16px;
     font-weight: bold;
     letter-spacing: 1px;
 }

 .imprimir {
     border: none;
     background-color: #3a8cd8;
     width: 100px;
     height: 30px;
     border-radius: 10px;
     cursor: pointer;
 }

 .imprimir:hover {
     background-color: #1a3a6d;
 }

 #colaImpresion {
     display: none;
 }

 @media print {

     @page {
         size: landscape;
         /* Hoja horizontal */
         margin: 0.5cm;
     }

     .carnet:not(.clonado) {
         display: none !important;
     }

     body {
         display: block;
         /* Cambiamos flex para que fluyan naturalmente */
         background: white;
         background-color: white;
         justify-content: center;
         align-items: center;
         height: 100vh;
         margin: 0;
         font-family: 'Helvetica', Arial, sans-serif;
         flex-direction: column;


     }


     .imprimir,
     .header-controles {
         display: none !important;
     }

     /* Contenedor para que los carnets se pongan uno al lado del otro */
     .hoja-impresion {
         display: none;
         flex-wrap: wrap;
         gap: 10px;
         justify-content: flex-start;
     }

     .carnet {
         width: 178px;
         height: 291px;
         background-color: white;
         border-radius: 15px;
         box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
         position: relative;
         overflow: hidden;
         display: flex;
         flex-direction: column;
         border: 1px solid #ddd;

     }

     .fondo-patron {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 97%;
         background-size: cover;
         background-position: center;
     }

     #colaImpresion {
         display: flex !important;
         flex-direction: row !important;
         /* Parejas una al lado de otra */
         flex-wrap: wrap;
         gap: 15px;
         /* Espacio entre cada carnet completo */
         justify-content: flex-start;
     }

     .carnet.clonado {
         margin: 0 !important;
         box-shadow: none !important;
         border: 0.5pt solid #000 !important;
         /* Borde fino para corte */
     }

     .foto-box {
         position: relative;
         z-index: 2;
         top: 42px;
         margin: 10px auto 0;
         width: 99px;
         height: 110px;
         background-color: #f8f9fa;
         border: 4px solid var(--azul-lineas);
         justify-content: center;
         align-items: center;
         box-sizing: border-box;
         overflow: hidden;
     }

     .foto-box img {
         width: 100%;
         height: 100%;
         object-fit: cover;
     }

     .datos-empleado {
         top: 42px;
         margin-top: 2px;
         position: relative;
         z-index: 2;
         padding: 0px 0px;
         flex-grow: 1;

     }

     .campo {
         margin-bottom: 0.5px;
         display: flex;
         flex-direction: column;
     }

     .campo2 {
         margin-bottom: 0.5px;
         text-align: center;
     }

     .valor {
         text-align: center;
         font-size: 12px;
         color: #333;
         font-weight: 600;
         padding: 1px 0;
         min-height: 9px;
     }


     .footerr {
         width: 100%;
         top: 2px;
         background-color: var(--azul-corporativo);
         color: white;
         text-align: center;
         padding: 8px 0;
         font-size: 10px;
         font-weight: bold;
         letter-spacing: 1px;
     }

     .carnet-trasero p {
         padding: 2px;
         margin: 5px;
         font-size: 8.8px;
         line-height: 1.1;
         text-align: center;
     }

     .carnet-trasero footer {
         color: white;
         font-weight: 600;
         display: flex;
         text-align: center;
         align-items: center;
         justify-content: center;
         background-color: rgb(19, 59, 172);
         height: 15px;
         width: 100%;
         margin: 0px;
         margin-top: auto;
         font-size: 10px;
         padding: 5px;

     }

 }